div.box-container-t{
	padding:0 10px;
	position:relative;
}

div.box-tl {
	background:transparent url(../images/module_rounded_tl.png) no-repeat scroll 0 0;
	height:10px;
	left:0;
	position:absolute;
	top:0;
	width:10px;
}

div.box-tr {
	background:transparent url(../images/module_rounded_tr.png) no-repeat scroll 0 0;
	height:10px;
	position:absolute;
	right:0;
	top:0;
	width:10px;
}

div.box-t {
	background:#FFFFFF none repeat scroll 0 0;
	border-top:1px solid #DCDCDC;
	height:9px;
}

/* rounded mid start here */

div.content_cover {
	background:#F0F0F0 url(../images/module_rounded_bg.png) repeat-x scroll 0 0;
	border-left:1px solid #DCDCDC;
	border-right:1px solid #DCDCDC;
	overflow:hidden;
	padding:0 10px;
}

div.content_cover div.header {
	font-size:150%;
	letter-spacing:-1px;
	margin:0 0 5px;
	font-weight:bold;
}

/* rounded bottom start here */

div.content_bottom {
	padding:0 10px;
	position:relative;
}

div.content_bottom div.box-b {
	background:#F0F0F0 none repeat scroll 0 0;
	border-bottom:1px solid #DCDCDC;
	height:9px;
}

div.content_bottom div.box-bl {
	background:transparent url(../images/module_rounded_bl.png) no-repeat scroll 0 0;
	height:10px;
	left:0;
	position:absolute;
	top:0;
	width:10px;
}

div.content_bottom div.box-br {
	background:transparent url(../images/module_rounded_br.png) no-repeat scroll 0 0;
	height:10px;
	position:absolute;
	right:0;
	top:0;
	width:10px;
}

div.broadcast-expands{border-top:solid 1px #DCDCDC; padding:5px;}

div.bc_connect{margin-bottom:15px;}

