.icon-48-icon-48-profileimport {
background-image:url(../images/icon-48-profileimport.png)!important;
}

.icon-reset {
background:url(../images/social-reset.png) no-repeat center !important;
}

.setting-td {
	width:25%;
}

.invalid{
border-color:red;

